<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.low {
	color: blue;
}
</style>
</head>
<body>
	<th:block layout:fragment="main">
		<div th:text="#{title}">title</div>
전체건수 : [[${#lists.size(empList)}]]
전체건수 : <span th:text="${#lists.size(empList)}"></span>
		<table>
			<tr>
				<th>순번</th>
				<th>employee_id</th>
				<th>first_name</th>
				<th>입사일자</th>
				<th>매니저</th>
				<th>급여</th>
			</tr>
			<tr th:each="emp : ${empList}">
				<td th:text="${empStat.count}"></td>
				<td th:text="${emp.employeeId}"></td>
				<!--/*/ <td th:text="|${emp.firstName} --- ${emp.lastName}|"></td> /*/-->
				<td th:text="${#dates.format(emp.hireDate, 'yyyy-MM-dd')}"></td>
				<td th:text="${emp.managerId==null? 'King': emp.managerId }"></td>
				<td th:text="${emp.salary}" class="sal"
					th:classappend="${emp.salary}<10000 ? 'low':_"></td>
				<!--/*  <td th:text="${emp.salary}" th:style="${emp.salary<10000? 'color:red' : _ }"></td>*/-->
				<td><button th:if="${emp.salary<10000}">수정</button></td>
			</tr>
		</table>
	</th:block>
</body>
</html>